*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

:root {
  --dkr-grayish-blue: hsl(217, 19%, 35%);
  --dk-desaturated-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --lt-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  background-color: var(--lt-grayish-blue);
  display: grid;
  grid-template-rows: 1fr -webkit-min-content;
  grid-template-rows: 1fr min-content;
  place-items: center;
}

main {
  padding-inline: 2.5rem;
  max-width: 78rem;
}

.article-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
@media only screen and (min-width: 680px) {
  .article-card {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "img content" "img user";
  }
}
.article-card__img {
  grid-area: img;
  display: block;
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -1.5rem;
     object-position: 0 -1.5rem;
  margin-bottom: 1.6rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 680px) {
  .article-card__img {
    border-top-right-radius: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 100%;
    margin: 0;
    -o-object-position: left;
       object-position: left;
  }
}
.article-card__content {
  grid-area: content;
  padding: 2rem 3.2rem;
}
@media only screen and (min-width: 680px) {
  .article-card__content {
    padding-top: 3.2rem;
    padding-inline: 4rem;
    padding-bottom: 1.6rem;
  }
}
.article-card__content__title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--dkr-grayish-blue);
  margin-bottom: 1.6rem;
}
@media only screen and (min-width: 680px) {
  .article-card__content__title {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
.article-card__content__desc {
  line-height: 2rem;
  color: var(--dk-desaturated-blue);
}
.article-card__user {
  grid-area: user;
  position: relative;
  padding: 1.6rem 3.2rem;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  gap: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}
@media only screen and (min-width: 680px) {
  .article-card__user {
    overflow: visible;
    padding-inline: 4rem;
    padding-bottom: 3.2rem;
  }
}
.article-card__user__img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
}
.article-card__user__img img {
  height: 100%;
  width: 100%;
}
.article-card__user__details__name {
  color: var(--dkr-grayish-blue);
  font-weight: 700;
}
.article-card__user__details__date {
  color: #b0b0c0;
}
.article-card__user__share-icon {
  z-index: 99;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background-color: var(--lt-grayish-blue);
  display: grid;
  place-content: center;
  cursor: pointer;
  border: none;
}
.article-card__user__share-socials {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 3.2rem;
  background-color: var(--dkr-grayish-blue);
  color: var(--lt-grayish-blue);
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}
@media only screen and (min-width: 680px) {
  .article-card__user__share-socials {
    top: -80%;
    right: -6%;
    width: 25rem;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;
    transform: scaleX(1);
    opacity: 0;
    transform: translateY(25%);
  }
  .article-card__user__share-socials .shape {
    position: absolute;
    z-index: 1;
    bottom: -20%;
    right: 21%;
    -webkit-clip-path: polygon(0 50%, 50% 100%, 100% 50%);
            clip-path: polygon(0 50%, 50% 100%, 100% 50%);
    width: 4rem;
    height: 4rem;
    background-color: var(--dkr-grayish-blue);
  }
}
.article-card__user__share-socials p {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 5.5px;
  color: var(--dk-desaturated-blue);
}
.article-card__user--share .article-card__user__share-icon {
  background-color: var(--dk-desaturated-blue);
}
.article-card__user--share .article-card__user__share-icon__icon path {
  fill: var(--lt-grayish-blue);
}
.article-card__user--share .article-card__user__share-socials {
  transform: scaleX(1);
}
@media only screen and (min-width: 680px) {
  .article-card__user--share .article-card__user__share-socials {
    transform: translateY(0);
    opacity: 1;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--dk-desaturated-blue);
}
.attribution a {
  color: var(--dkr-grayish-blue);
  font-weight: 700;
  text-decoration: none;
}